/elpa
/workspace
/places
/server
/smex-items
/transient
/auto-save-list
/eclipse.jdt.ls
/recentf
/projectile-bookmarks.eld
/projectile.cache
/eaf/
/eshell
/url
/request
*.bak
/org-roam.db
/network-security.data
/.cache/
/.dap-breakpoints
/.lsp-session-v1
/.org-id-locations
/bookmarks